.App-logo {
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-left: 25%;
}

.container {
  margin-left: 1em;
}


.bg-body-tertiary {
  background-color: rgb(49 199 49 / 85%) !important;
}

.brand-text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  color: white;
  margin-bottom: 0;
}

.navbar-nav .nav-item .nav-link,
.nav-link,
.navbar-nav .nav-item .nav-item.dropdown .nav-link:hover {
  color: white;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  width: 110px;
  font-size: 18px;
}


.nav-link:visited {
  color: white !important;
}


.dropdown-menu {
  background-color: rgb(49 199 49 / 85%);
  border-color: white;
  border-radius: 7%;
}


.dropdown-item {
  color: white !important;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
}

.dropdown-item:hover {
  background-color: transparent !important;
  font-weight: bolder !important;
}


.nav-item {
  margin-right: 41px;
}